    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
    html{
        font-size: 22px;
        color: rgb(255, 239, 213);
    }


    .hello {
        
        margin: 5%;


    }

    body{
        background-color: black;
        background-image: url("bg205.gif");
        align-items: center;
        
    }

    .hello{
        text-align: center;
        text-decoration: none;
        word-spacing: 5px;
        letter-spacing: 8px;
        }
    button{
        padding: 4px 2px 3px 2px;
        border-radius: 20%;

        margin-top: 0.5rem;
        background-color: transparent;
        color: #DC6E7C; 
    }
    button:hover{
        color: #ffffff;
    }
    .password, .username{
        text-align: center;
        font-size: small;
        margin: auto;

    }
    a{
        text-decoration: none;
        color: #DC6E7C;
        font-family: monospace;
    }
    .login{
    
    
        font-family: monospace,'Lucida Sans', 'Lucida Sans Regular';
        color: #DC6E7C;
        text-align: center;
        height:18px;
        width: 100%;
       
    }

    .user{
        margin-bottom: 4px;
    }

    button{
        text-align: center;
        margin-top: 1rem;
        
    }

    .opacity{

    opacity: 0;
    animation-name: opacity1;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; 
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    
    }
 


    @keyframes opacity1 {
        from{
            opacity: 0;
        }
        
        to{
            opacity: 1;
        }
    
    }




